<html>
<header>
    <title></title>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
</header>

<body onload="func()">
    <h1>Events</h1>
    <table id="table">
        <tr>
            <th>Event _id</th>
            <th>Name</th>
            <th>Required</th>
            <th>Registered</th>
        </tr>
    </table>
</body>
<script>
    function func() {
        var response = JSON.parse(window.localStorage.getItem('events'));
        var rows = response.total;
        var cols = 4;
        var table = document.querySelector('#table');

        for (let i = 0; i < rows; i++) {
            var row = table.insertRow(i + 1);
            let eventName = row.insertCell(0);
            let eventId = row.insertCell(1);
            let required = row.insertCell(2);
            let registered = row.insertCell(3);

            eventName.innerHTML = response.eventData[i]._id;
            eventId.innerHTML = response.eventData[i].Event_name;
            required.innerHTML = response.eventData[i].required;
            registered.innerHTML = response.eventData[i].registered;

        }
    }
</script>

</html>