<html>
<header>
    <title></title>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
</header>

<body>
    <h3>Admin signup</h3>
    <form action="/admin/signup" method="POST" required>
        <label>Name</label>
        <input type="text" placeholder="name" id="name" name="Admin_name" required>
        <label>Email</label>
        <input type="email" placeholder="email" id="email" name="Admin_email" required>
        <label>Password</label>
        <input type="password" placeholder="password" id="password" name="Admin_password" required>
        <label>Confirm Password</label>
        <input type="password" placeholder="confirm password" id="confirm_password" name="confirm_password" required>
    </form>
    <button type="submit" id="submit">Submit</button>
</body>
<script>
    $(function() {
        $('#submit').click(function() {
            var pass = $('#password').val();
            var cpass = $('#confirm_password').val();
            if (pass != cpass) {
                alert('password doesnt match');
            } else {
                var url = "/admin/signup";
                var reqObject = {
                    Admin_name: $('#name').val(),
                    Admin_email: $('#email').val(),
                    Admin_password: $('#password').val()
                }
                $.post(
                    url,
                    reqObject,
                    function(response) {
                        console.log(response);
                        if (response.message === "success") {
                            window.location.replace("/views/adminlogin");
                        }
                    }
                );
            }
        });
    });
</script>

</html>