<html>
<header>
    <title></title>
</header>

<body>
    <h3>Admin signup</h3>
    <form action="./adminlogin" required>
        <label>Name</label>
        <input type="text" placeholder="name" required>
        <label>Email</label>
        <input type="email" placeholder="email" required>
        <label>Password</label>
        <input type="password" placeholder="password" required>
        <label>Confirm Password</label>
        <input type="password" placeholder="confirm password" required>
        <input type="submit">
    </form>
</body>

</html>