<html>
<header>
    <title></title>
</header>

<body>
    <h3>Volunteer Signup</h3>
    <form action="/volunteer/signup" method="POST">
        <label>Name</label>
        <input type="text" placeholder="name" name="Volunteer_name" required>
        <label>Email</label>
        <input type="email" placeholder="email" name="Volunteer_email" required>
        <label>Password</label>
        <input type="password" placeholder="password" name="Volunteer_password" required>
        <label>Confirm Password</label>
        <input type="password" placeholder="confirm password" name="confirm_password" required>
        <label>Phone</label>
        <input type="text" placeholder="phone" name="Volunteer_phone" required>
        <label>Class</label>
        <input type="text" placeholder="class" name="Volunteer_class" required>
        <label>Division</label>
        <input type="text" placeholder="Division" name="Volunteer_divison" required>
        <input type="submit">
    </form>
</body>

</html>