<html>
<header>
    <title></title>
</header>

<body>
    <h3>VolunteerLogin</h3>
    <form action="/volunteer/login" method="POST">
        <input type="email" placeholder="email" name="Volunteer_email" required></input>
        <input type="password" placeholder="password" name="Volunteer_password" required></input>
        <a href="#">Forgot password</a>
        <input type="submit">
    </form>
    <br>
    <button type="button"><a href="./volunteersignup">SignUp</a></button>
</body>

</html>