<html>
<header>
    <title>RegisterTeam</title>
</header>

<body>
    <h3>RegisterTeam</h3>
    <form>
        <label>Team name</label>
        <input type="text" placeholder="team name">
    </form>
    <form>
        <label>Leader name</label>
        <input type="text" placeholder="Leader name">
        <label>Leader Email</label>
        <input type="email" placeholder="email">
        <label>Leader Phone</label>
        <input type="text" placeholder="phone">
        <label>Alternative phone number</label>
        <input type="text" placeholder="phone">
    </form>
    <form>
        <label>Member count</label>
        <input type="number" placeholder="count">
        <label>Choose an Event</label>
        <select>
            <option disabled selected value>--select--</option>
            <option value="Hackathon">Hackathon</option>
            <option value="Perplexo">Perplexo</option>
            <option value="Codigo">Codigo</option>
            <option value="Knowledge Decimination">Knowledge Decimination</option>
        </select>
        <input type="submit" value="Submit">
    </form>
</body>

</html>