<html>
<header>
    <title></title>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
</header>

<body onload="func()">
    <h3>AdminDashBoard</h3>
    <button type="button"><a href="/views/overview">Overview</a></button>
    <button type="button"><a href="/views/registerevent">New Event</a></button>
    <button type="button"><a href="/views/volunteers">Volunteers</a></button>
    <button type="button"><a href="/views/events">Events</a></button>
    <button type="button"><a href="/views/teams">Teams</a></button>
    <button type="button"><a href="/views/email">send email</a></button>
    <button type="button" id="logout">logout</button>
</body>
<script>
    //get all required data
    function func() {
        $(function() {
            var url = "/overview/teams";
            var user = JSON.parse(window.localStorage.getItem('user'));
            var token = user.token;
            var refreshToken = user.refreshToken;
            $.ajax({
                url: url,
                type: "GET",
                headers: {
                    Authorization: 'Bearer ' + token
                },
                beforeSend: function(xhr) {
                    xhr.setRequestHeader('X-Test-Header', 'test-value');
                },
                success: function(res) {
                    window.localStorage.setItem('teams', JSON.stringify(res));
                }
            });
        });

        $(function() {
            var url = "/overview/events";
            var user = JSON.parse(window.localStorage.getItem('user'));
            var token = user.token;
            var refreshToken = user.refreshToken;
            $.ajax({
                url: url,
                type: "GET",
                headers: {
                    Authorization: 'Bearer ' + token
                },
                beforeSend: function(xhr) {
                    xhr.setRequestHeader('X-Test-Header', 'test-value');
                },
                success: function(res) {
                    window.localStorage.setItem('events', JSON.stringify(res));
                }
            });
        });

        $(function() {
            var url = "/overview/volunteers";
            var user = JSON.parse(window.localStorage.getItem('user'));
            var token = user.token;
            var refreshToken = user.refreshToken;
            $.ajax({
                url: url,
                type: "GET",
                headers: {
                    Authorization: 'Bearer ' + token
                },
                beforeSend: function(xhr) {
                    xhr.setRequestHeader('X-Test-Header', 'test-value');
                },
                success: function(res) {
                    window.localStorage.setItem('volunteers', JSON.stringify(res));
                }
            });
        });
    }

    //logout mechanism
    var logout = document.querySelector('#logout');
    logout.addEventListener('click', function() {
        window.localStorage.clear();
        window.location.replace('/views/adminlogin');
    })
</script>

</html>