<html>
<header>
    <title></title>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
</header>

<body onload="func()">
    <h3>VolunteerDashBoard</h3>
    <button type="button"><a href="/views/events">Events</a></button>
    <button type="button"><a href="/views/teams">Teams</a></button>
    <button type="button"><a href="/views/registerteam">new Team</a></button>
    <button type="button" id="logout">logout</button>
</body>
<script>
    //load required data
    function func() {
        $(function() {
            var url = "/overview/events";
            $.get(url, function(res) {
                window.localStorage.setItem('events', JSON.stringify(res));
            })
        });
        $(function() {
            var url = "/overview/teams";
            $.get(url, function(response) {
                window.localStorage.setItem('teams', JSON.stringify(response));
            });
        });
    }

    //logout mechanism
    var logout = document.querySelector('#logout');
    logout.addEventListener('click', function() {
        window.localStorage.clear();
        window.location.replace('/views/volunteerlogin');
    })
</script>

</html>