<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>EVENTS</title>
    <base href="/">
    <link href="https://fonts.googleapis.com/css?family=Nunito&display=swap" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Aldrich&display=swap" rel="stylesheet" type="text/css">
    <link rel="stylesheet" src="stylesheets/main.css" >
    <!--Ion Icons-->
    <link href="https://unpkg.com/ionicons@4.5.10-0/dist/css/ionicons.min.css" rel="stylesheet" type="text/css">
</head>

<body>
    <header>
        <div class="container">
            <nav>
                <div class="nav-brand">
                </div>

                <div class="menu-icons open">
                    <i class="icon ion-md-menu"></i>
                </div>

                <ul class="nav-list">
                    <div class="menu-icons close">
                        <i class="icon ion-md-close"></i>
                    </div>
                    <li class="nav-item">
                        <a href="#" class="nav-link current">Home</a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link">About Us</a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link">Events</a>
                    </li>
                    <li class="nav-item">
                        <a href="registerEvent.html" class="nav-link">Create Event</a>
                    </li>
                    <li class="nav-item">
                        <a href="./pages/LoginSignup/LoginPage.html" class="nav-link" id="login">Login</a>
                    </li>
                </ul>
            </nav>
        </div>
    </header>

    <section class="hero">
        <div class="container">
            <div class="main-message">
                <h3>Event Mania</h3>
            </div>
            <div class="cta">
                <a href="#" class="btn">Host Event?</a>
            </div>
        </div>
    </section>

    <script type="text/javascript" src="JS/script.js"></script>
</body>

</html>